body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: left;
  }
  
  .map-container {
    position: relative;
    width: 100%; /* This will make it span the full width of the viewport */
    margin-top: 20px;
  }
  
  
  .map {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 62.86%; /* Aspect ratio of the image */
    position: relative;
  }
  
  #blinking-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .map-container {
      width: 100%;
    }
  
    .map {
      padding-bottom: 75%; /* Adjust aspect ratio for smaller devices */
    }
  }
  